

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap');


body {
    background-image: url('./background.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    margin: 20px;
    text-align: end;
    font-size: 50px;
    font-weight: 800;
}

#statement{
    font-size: 18px;
    margin: 50px 10px 10px 10px;
    border-radius: 20px;
    padding: 15px;
    background-color: #fff5e9;
}

#statementAuthor {
    font-size: 16px;
    text-align: end;
    margin: 0px 10px 0px 0px;
}

#navbar {
    display: inline-flex;
    justify-content:right;
    margin-left: 550px;
}

.navbarButton {
    margin: 0px 10px 0px 10px;
}

.itemContainer{
    display: grid;
    margin-left: -30px;
    grid-template-columns: 580px 200px;
    grid-template-rows: 60px 100px 80px;
}

.itemTitle {
    grid-row: 1/2;
    grid-column: 1;
}

.itemDescription {
    grid-row: 2/3;
    grid-column: 1;
    font-size: 16px;
    font-weight: 400;
}

.itemPrice {
    grid-row: 3;
    grid-column: 1;
    font-size: 25px;
    font-weight: 300;
}

.itemImage {
    grid-row: 1/3;
    grid-column: 2;
}

.itemImage {
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 30px;
}